@layer reset, theme, layout;

/* @link: https://www.joshwcomeau.com/css/custom-css-reset/ */
@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    input, button, textarea, select {
        font: inherit;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
}

/* @link: https://systemfontstack.com/ */
/* @link: https://www.makeworld.space/garden/Computers/Web.html */
@layer theme {
    :root {
        --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
        --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

        --colour-cream: #fffdf5;
        --colour-slate: #363737;
        --colour-white: #fff;
        --colour-teal: #196b72;
        --colour-mustard: #fdb33c;
    }
}

@layer layout {
    html {
        font-family: var(--font-sans);
        color: var(--colour-slate);
        background: var(--colour-cream);
    }

    h1, p {
        margin-bottom: 1rem;
    }

    .hide {
        display: none;
    }

    div.wrapper {
        max-width: 840px;
        margin-inline: auto;
        margin-block: 2rem;
        padding-inline: 1rem;
    }

    form.input {
        display: flex;
        gap: 16px;

        input {
            flex-grow: 7;
        }

        button {
            flex-grow: 1;
        }
    }

    div.results {
        margin-top: 2rem;
    }

    a.toggle {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        font-weight: normal;
        color: inherit;
        text-decoration: none;
        vertical-align: middle;

        &::before {
            content: "▼";
            display: inline-block;
            width: 24px;
            text-align: center;
        }

        &.collapse::before {
            content: "►";
        }
    }

    summary {
        cursor: pointer;
    }

    code {
        font-family: var(--font-mono);
        display: inline-block;
    }

    code.char {
        min-width: 1ch;
    }

    details {
        margin-bottom: 2rem;
    }

    table.bytes {
        border-collapse: collapse;
        margin-block: 0.5rem;

        td {
            padding: 4px;
        }

        ol {
            font-family: var(--font-mono);
            color: var(--colour-white);
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(8, 24px);
            grid-template-rows: 24px;
            gap: 6px;

            li {
                text-align: center;
                background: var(--colour-mustard);
            }

            li.continuation {
                background: var(--colour-teal);
            }
        }
    }
}